---
import { sanityClient } from "sanity:client";
import LatestItemsSection from "@/components/LatestItemsSection.astro";
import Link from "@/components/Link.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Layout from "@/layouts/Layout.astro";
import {
  LATEST_APPEARANCES_QUERY,
  LATEST_POSTS_QUERY,
  LATEST_PROJECTS_QUERY,
} from "@/sanity/lib/queries";
import type {
  LATEST_APPEARANCES_QUERY_RESULT,
  LATEST_POSTS_QUERY_RESULT,
  LATEST_PROJECTS_QUERY_RESULT,
} from "@/sanity/sanity.types";

const [latestPosts, latestProjects, latestAppearances] = await Promise.all([
  sanityClient.fetch<LATEST_POSTS_QUERY_RESULT>(LATEST_POSTS_QUERY),
  sanityClient.fetch<LATEST_PROJECTS_QUERY_RESULT>(LATEST_PROJECTS_QUERY),
  sanityClient.fetch<LATEST_APPEARANCES_QUERY_RESULT>(LATEST_APPEARANCES_QUERY),
]);
---

<Layout>
  <main class="space-y-16">
    <section class="space-y-6 md:px-2">
      <div class="space-y-3" data-reveal>
        <h1 class="text-3xl text-foreground sm:text-4xl">Ryan Furrer</h1>
        <p class="max-w-[46ch] text-lg font-medium text-pretty text-foreground">
          Frontend Engineer who loves creating where design and engineering
          meet.
        </p>
      </div>
      <div class="max-w-[46ch] space-y-3 text-pretty" data-reveal>
        <p>
          Currently I am a Design Engineer at <a href="https://pragma.gg"
            >Pragma</a
          >, part of the team creating the platform that helps studios build
          successful games, <a href="https://firstlook.gg">FirstLook</a>.
        </p>
        <Link href="/about">Learn more about me</Link>
      </div>

      <div class="space-y-2" data-reveal>
        <span class="small-heading inline-block">Find me elsewhere:</span>
        <div class="text-sm">
          <SocialLinks orientation="horizontal" />
        </div>
      </div>
    </section>
    <LatestItemsSection
      title="Writing"
      items={latestPosts}
      basePath="/writing"
    />
    <LatestItemsSection title="Work" items={latestProjects} basePath="/work" />
    <LatestItemsSection
      title="Appearances"
      items={latestAppearances}
      basePath="/appearances"
    />
  </main>
</Layout>
