---
import SocialLinks from "./SocialLinks.astro";

const currentYear = new Date().getFullYear();

const sitemapLinks = [
  { label: "Home", href: "/" },
  { label: "Writing", href: "/writing" },
  { label: "Work", href: "/work" },
  { label: "Appearances", href: "/appearances" },
  { label: "Now", href: "/now" },
  { label: "About", href: "/about" },
];
---

<footer class="border-t border-border pt-8 md:px-2">
  <div class="space-y-8">
    <nav>
      <h2 class="small-heading">Sitemap</h2>
      <ul
        class="grid grid-cols-2 gap-px text-sm md:flex md:flex-wrap md:gap-x-8 md:gap-y-4"
        role="list"
      >
        {
          sitemapLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class="text-color-hover inline-block w-full py-2 focus:text-foreground"
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div
      class="flex items-center justify-between text-sm text-foreground-muted"
    >
      <p>&copy; {currentYear} Ryan Furrer</p>
      <div>
        <SocialLinks />
      </div>
    </div>
  </div>
</footer>
