---
import Layout from "@/layouts/Layout.astro";

const title = "Now";
const description = "What I'm up to currently";
---

<Layout title={title} description={description}>
  <div class="space-y-8">
    <header class="space-y-2 md:px-2">
      <h1 class="text-2xl text-foreground sm:text-3xl">{title}</h1>
      <p class="max-w-[60ch] text-pretty text-foreground-muted">{description}</p>
    </header>
    <main class="space-y-6 md:px-2">
      <article
        class="space-y-4 rounded-lg bg-surface p-5 dark:inset-ring dark:inset-ring-white/5"
      >
        <span class="font-mono-custom inline-block font-medium"
          >February 2, 2026</span
        >
        <p>
          I just returned from my first company offsite which took place in
          Portland, OR. It was a long week but great to meet everyone in-person
          and get to know everyone better.
        </p>
        <p>
          During February, I plan to continue my focus on my mental and physical
          health including returning to the gym which I'm excited for. I'm also
          focusing a lot on my finances this year to prepare to move into a new
          apartment next year. The plans are made, now it's up to me to execute.
        </p>
        <p>
          I'm also excited for a handful of projects I'm working on, one of
          which is a personal dashbaord I can use to track various things like
          my social following, habits, to-dos, and more. Think of it like a
          one-stop-shop for myself.
        </p>
        <p>
          More on that will be shared in the near-ish future on my <a
            href="https://x.com/ryandotfurrer">X/Twitter</a
          >.
        </p>
        <section>
          <ul class="space-y-1" role="list">
            <li>
              Watching: Finishing up <a
                href="https://www.youtube.com/watch?v=uXr9Ha9qRHE"
                >Dan Da Dan (Season 2)</a
              > --> Rewatching <a
                href="https://www.youtube.com/watch?v=Iwr1aLEDpe4"
                >Frieren: Beyond Journey's End, Season 1</a
              > before diving into <a
                href="https://www.youtube.com/watch?v=EOMVXqH9DSg">Season 2</a
              >
            </li>
            <li>
              Reading: Finishing up <a
                href="https://store.dailystoic.com/collections/all-books/products/the-obstacle-is-the-way-expanded-10th-anniversary-edition"
                >The Obstacle is the Way by Ryan Holiday</a
              >
            </li>
            <li>
              Playing: <a href="https://www.expedition33.com/"
                >Clair Obscur: Expedition 33</a
              >
            </li>
            <li>
              Latest Obsession: This cover of <a
                href="https://youtu.be/KsrN_jsDFOA?si=dRT_Mg1ffS_CYfIG"
                >Radiohead's "Creep" by Erin Morton</a
              > and a cover of <a
                href="https://youtu.be/9WoCqEZMBL0?si=Olk9GyCHzv2VywOW"
                >"New York, New York" by Lawrence</a
              >
            </li>
          </ul>
        </section>
      </article>
      <article
        class="space-y-4 rounded-lg bg-surface p-5 dark:inset-ring dark:inset-ring-white/5"
      >
        <span class="font-mono-custom inline-block font-medium"
          >January 1, 2026</span
        >
        <p>
          Focusing on both my mental and physical health, giving it all at my
          job, and moving into a new apartment next year. I'm setting up the
          systems now to help me stay on track and meet my goals.
        </p>
        <section>
          <ul class="space-y-1" role="list">
            <li>
              Watching: <a href="https://www.youtube.com/watch?v=uXr9Ha9qRHE"
                >Dan Da Dan (Season 2)</a
              >
            </li>
            <li>
              Reading: <a
                href="https://store.dailystoic.com/collections/all-books/products/the-obstacle-is-the-way-expanded-10th-anniversary-edition"
                >The Obstacle is the Way by Ryan Holiday</a
              >
            </li>
            <li>
              Playing: <a href="https://www.expedition33.com/"
                >Clair Obscur: Expedition 33</a
              >
            </li>
            <li>
              Latest Obsession: <a
                href="https://www.youtube.com/watch?v=jH3xpS7Q_3E&list=OLAK5uy_k_hE5HhMiwlHuzdS7R17Yk8w68ilnSrMw&index=2"
                >Final Fantasy VII Remake Acoustic Arrangements</a
              >
            </li>
          </ul>
        </section>
      </article>
    </main>
  </div>
</Layout>
